<ol class="relative mt-16">
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">
            Full-Stack Developer
          </h3>
          <h4 class="font-semibold text-xl text-white">MSW Tecnologias</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80"
            >2025 - Actualidad</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        <ul class="list-disc pl-4 text-gray-300">
          <li>
            Desarrollo de múltiples plataformas con .NET (C#) y React
            (TypeScript)
          </li>
          <li>Creación y consumo eficiente de APIs RESTful</li>
          <li>Integración de bases de datos relacionales con SQL Server</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">
            Técnico en Mantenimiento
          </h3>
          <h4 class="font-semibold text-xl text-white">
            LAGA Elictrificaciones
          </h4>
          <time class="p-0 m-0 text-sm dark:text-white/80">2023 - 2025</time>
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        <ul class="list-disc pl-4 text-gray-300">
          <li>
            Realización de mantenimiento preventivo y correctivo a equipos de
            cómputo
          </li>
          <li>
            Diagnóstico de fallos de hardware y software, instalación de
            sistemas operativos y configuración de redes.
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">
            Full-Stack Developer (Prácticas)
          </h3>
          <h4 class="font-semibold text-xl text-white">ICSIC</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80"
            >Febrero 2024 - Junio 2024</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        <ul class="list-disc pl-4 text-gray-300">
          <li>
            Desarrollo de páginas web dinámicas utilizando CodeIgniter con PHP,
            HTML, CSS y JavaScript.
          </li>
          <li>
            Implementación de sistemas de autenticación de usuarios y gestión de
            contenido.
          </li>
          <li>
            Optimización de la experiencia del usuario mediante diseño
            responsivo y carga eficiente.
          </li>
          <li>
            Integración con bases de datos relacionales mediante MySQL,
            administradas con phpMyAdmin.
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">Desarrollo Movil</h3>
          <h4 class="font-semibold text-xl text-white">Tesis Universitaria</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80">Septiembre 2023</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        <br />
        <ul class="list-disc pl-4 text-gray-300">
          <li>
            Diseño y desarrollo de una aplicación móvil con React Native para
            gestionar ventas, productos e inventario en microempresas.
          </li>
          <li>Integración de base de datos relacional mediante phpMyAdmin</li>
        </ul>
      </div>
    </div>
  </li>
</ol>
