<ol class="relative mt-16">
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">Full-Stack Engineer</h3>
          <h4 class="font-semibold text-xl text-white">ICSIC</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80"
            >Febrero 2024 - Junio 2024</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        Diseñé y desarrollé múltiples páginas web dinámicas utilizando el
        framework CodeIgniter, garantizando una experiencia de usuario fluida y
        eficiente. Implementé funcionalidades avanzadas como autenticación de
        usuarios, gestión de contenido utilizando PHP, HTML, CSS y JavaScript.
      </div>
    </div>
  </li>
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">Desarrollo Movil</h3>
          <h4 class="font-semibold text-xl text-white">Tesis Universitaria</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80">Septiembre 2023</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
        Diseñe y desarrolle una aplicación con el framework de React Native para
        el apoyo de desarrollo de un punto de venta de micro empresas igualmente
        se implemento las bases de datos con phpMyAdmin
      </div>
    </div>
  </li>
  <li class="">
    <div
      class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
    >
      <div class="relative pb-12 md:col-span-2">
        <div class="sticky top-0">
          <span
            class="text-yellow-400 -left-[42px] absolute rounded-full text-5xl"
            >&bull;</span
          >
          <h3 class="text-xl font-bold text-yellow-400">Técnico en Mantenimiento</h3>
          <h4 class="font-semibold text-xl text-white">LAGA Elictrificaciones</h4>
          <time class="p-0 m-0 text-sm dark:text-white/80">2023 - Actualidad</time
          >
        </div>
      </div>
      <div
        class="relative flex flex-col gap-2 pb-4 text-gray-300 md:col-span-3"
      >
      Realización de mantenimiento preventivo y correctivo a
      equipos de computo
      
      </div>
    </div>
  </li>
</ol>
