
<header
  id="main-header"

  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-3 transition-colors duration-300 ease-in-out
"

>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#top"
      >Inicio
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#experiencia"
      >Experiencia
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#proyectos"
      >Proyectos
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#sobre-mi"
    >
      Sobre mi
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
      href="#contacto"
    >
      Contacto
    </a>
  </nav>
</header>

<script type="module">const initObserver = () => {
  const sections = document.querySelectorAll("section");
  const navItems = document.querySelectorAll("header nav a");
  const header = document.getElementById("main-header");

  const callback = (entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        navItems.forEach((item) => {
          item.classList.toggle(
            "text-yellow-500",
            item.getAttribute("href") === `#${entry.target.id}`
          );
        });
      }
    });
  };

  const observer = new IntersectionObserver(callback, {
    threshold: 0,
    rootMargin: "-30% 0px -55% 0px", // nuevo ajuste más sensible

  });

  sections.forEach((section) => observer.observe(section));
};

document.addEventListener("astro:page-load", initObserver);
document.addEventListener("DOMContentLoaded", initObserver);

</script> 




<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/90 bg-white/50;
  }

  @keyframes nav-shadown {
    0% {
      @apply dark:bg-gray-800/0 bg-white/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>