---
import Bootstrap from "./icons/Bootstrap.astro";
import Php from "./icons/Php.astro";
import Javascript from "./icons/Javascript.astro";
import Html from "./icons/Html.astro";
import React from "./icons/React.astro";
---

<div class="flex flex-col gap-y-16">
  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt="Recién llegado vs 5 años en Nueva Zelanda"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src="/projects/lineas.webp"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-100">
        Agenda Digital Colima - Lineas de Accion
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-black text-white py-1 px-2"
            >
              <Php class="size-4" />
              CodeIgniter
            </span>
          </li>
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-white text-black py-1 px-2"
            >
              <Javascript class="size-4" />
              JavaScript
            </span>
          </li>
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-black text-white py-1 px-2"
            >
              <Html class="size-4" />
              HTML
            </span>
          </li>
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-white text-black py-1 px-2"
            >
              <Bootstrap class="size-4" />
              Bootstrap 4
            </span>
          </li>
        </ul>
        <div class="mt-2 text-gray-200">
          Plataforma web desarrollada con CodeIgniter (PHP) para automatizar el
          seguimiento de indicadores de progreso dentro de la Agenda Digital del
          estado de Colima. El sistema permite gestionar jerárquicamente
          habilitadores, estrategias, objetivos y líneas de acción, actualizando
          automáticamente los porcentajes de avance en todos los niveles del
          modelo. Se utilizó MySQL como base de datos relacional, integrando
          tecnologías como JavaScript, HTML y Bootstrap 4 para una interfaz
          responsiva y funcional.
        </div>

        <footer class="flex items-end justify-start mt-4 gap-x-4">
          <a
            href="https://github.com/JRPH78/Agenda-Digital-Colima"
            role="link"
            target="_blank"
            class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-6"
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
            Code
          </a>
        </footer>
      </div>
    </div>
  </article>

  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt=""
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src="/projects/pwa.webp"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-100">
        PWA - Punto de ventas en apoyo a Micro Pymes
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-[#003159] text-white py-1 px-2"
            >
              <React class="size-4" />
              React Native
            </span>
          </li>
          <li>
            <span
              class="flex gap-x-2 rounded-full text-xs bg-black text-white py-1 px-2"
            >
              <Php class="size-4" />
              phpMyAdmin
            </span>
          </li>
        </ul>
        <div class="mt-2 text-gray-200">
          Aplicación móvil desarrollada con React Native como solución de punto
          de venta para microempresas. Permite registrar productos, procesar
          ventas y consultar reportes desde dispositivos móviles. El backend se
          conecta a una base de datos MySQL, administrada con phpMyAdmin,
          ofreciendo una experiencia ágil, escalable y pensada para operar en
          contextos con conectividad limitada. Implementada con principios de
          Progressive Web App (PWA) para asegurar compatibilidad
          multiplataforma.
        </div>

        <footer class="flex items-end justify-start mt-4 gap-x-4">
          <a
            href="https://github.com/JRPH78/aplicacion-ventas-ReactNative"
            role="link"
            target="_blank"
            class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <svg
              class="size-6"
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-github"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
              ></path></svg
            >
            Code
          </a>
        </footer>
      </div>
    </div>
  </article>
</div>
