---
const personalImageAlt = "Miguel Ángel";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-200 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Jose Rafael Perez Hernandez pero mis amigos me llaman Rafa.
      Empecé en la programación con un Html, en la universidad. Tengo 22 años,
      recien egresado de la Universidad de colima de la carrera de
      <strong> Ingeniero de Software</strong>
    </p>

    <p>
      Soy un <strong> solucionador de problemas</strong>, capaz de trabajar de
      manera efectiva tanto de forma independiente como en equipo. Me comprometo
      a mantenerme al día con las últimas tendencias y avances en el campo de la
      ingeniería de software, y estoy emocionado por contribuir con mi
      experiencia y habilidades a proyectos innovadores y <strong>
        desafiantes
      </strong>.
    </p>

    <p>
      Mi objetivo es seguir <strong> creciendo </strong> profesionalmente en el campo
      del desarrollo de software, colaborando con equipos dinámicos y enfrentando
      nuevos desafíos que me permitan expandir mis habilidades y contribuir significativamente
      al éxito de la empresa.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt=" JOSE RAFAEL PEREZ HERNANDEZ "
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
