# Visual Studio
.vs/
**/.vs/
**/bin/
**/obj/

# Archivos de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de paquetes
**/packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Node.js (por si hay JavaScript o Node)
node_modules/
npm-debug.log
yarn-error.log

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
