
<div class="row">
    <div class="col align-self-end">
        <a asp-action="Index">Volver atras</a>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary form-control"> Crear</button>
    </div>


</div>


